
* {
    box-sizing: border-box;
    font-size: 18px;
    margin: 0;
    text-transform: uppercase;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.l-container__header {
    display: flex;
    width: 100vw;
    max-width: 100vw;
    height: 14vh;
}

.l-nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.l-logo {
    width: auto;
    width: 50vw;
}

.c-logo__img {
    margin-left: 2.5%;
}

.l-nav__menu {
    display: flex;
    width: 50vw;
    justify-content: flex-end;
    margin-right: 4%;
    
}

.c-nav__item {
    width: auto;
    margin-left: 3%;
    font-size: 1.7rem;
    text-decoration: none;
    color: #777777;
    transition: all 0.5s;
}

.c-nav__item:hover {
    background-color: bisque;
    letter-spacing: 1px;
}

.c-container__banner {
    display: flex;
    width: 100vw;
    height: 35vh;
}

.c-banner {
    display: flex;    width: 100%;
    max-height: 40vh;
}

.c-banner__img {
    width: 100%;
}

.l-container__main {
    
    width: 100vw;
    height: 100vh;
}

.c-content__titulo{
    width: 100vw;
    height: 15vh;
    text-align: center;
    margin-top: 5%;
}

.c-content__h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.c-content__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    
}

.c-img__item1 {
    width: auto;
    height: auto;
    max-width: 20%;
    max-height: 25%;
    padding-right: 2%;
    margin-bottom: 1%;
}

.c-img__item2 {
    width: auto;
    height: auto;
    max-width: 30%;
    max-height: 30%;
    padding-left: 1%;
    margin-bottom: 3%;
}

.l-container__vitrine {
    width: 100vw;
    height: 95vh;
    background-color: #C2185B;

}

.c-vitrine {
    display: flex;
    width: 100vw;
    height: 10vh;
}

.c-vitrine__titulo {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    padding-top: 3%;
}

.c-vitrine__items {
    display: flex;
    width: 100vw;
    height: 70vh;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: center;
}

.c-vitrine__item1 {
    display: flex;
    width: 20vw;
    height: 60vh;
    background-color: white;
    
    flex-direction: column;
}

.c-vitrine__item2 {
    display: flex;
    width: 20vw;
    height: 60vh;
    background-color: white;
    margin-left: 3%;
    flex-direction: column;
}

.c-vitrine__item3 {
    display: flex;
    width: 20vw;
    height: 60vh;
    background-color: white;
    margin-left: 3%;
    flex-direction: column;
}

.c-vitrine__item4 {
    display: flex;
    width: 20vw;
    height: 60vh;
    background-color: white;
    margin-left: 3%;
    flex-direction: column;
}

.c-vitrine__img {

    width: 100%;
    height: 48vh;
}

.l-container__footer {
    width: 100vw;
    height: 40vh;
    background-color: #C2185B;
}



@media (max-width: 1499px){
    .c-nav__item {
        width: auto;
        margin-left: 2%;
        font-size: 1.2rem;
        text-decoration: none;
        color: #777777;
    }
}

@media (max-width: 499px){
    .l-container__header {
        display: flex;
        width: 100vw;
        max-width: 100vw;
        height: 14vh;
    }
    
    .l-nav__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
    }
    
    .l-logo {
        width: auto;
        width: 50vw;
        padding-top: 2%;
    }
    
    .c-logo__img {
        margin-top: 2.5%;
        margin-left: 2.5%;
        padding: 2%;
    }
    
    .l-nav__menu {
        display: none;
        width: 50vw;
        justify-content: flex-end;
        margin-right: 4%;
        
    }
    
    .c-nav__item {
        width: auto;
        margin-left: 3%;
        font-size: 1.7rem;
        text-decoration: none;
        color: #777777;
        transition: all 0.5s;
    }
   
    .l-container__main {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
    }
    
    .c-content__titulo h1{
        width: 100vw;
        height: 15vh;
        text-align: center;
        margin-top: 5%;
        font-size: 2rem;
        font-weight: bold;
    }
    
    .c-content__img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    
    .c-img__item {
        max-width: 460px;
        max-height: 660px;
        padding: 3%;
        margin: 0 auto;
    }
}
